Flask==1.1.2
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
tensorflow==1.10.0
Pillow==5.3.0
requests==2.20.1
scikit-learn==0.20.1
tqdm==4.28.1
opencv-python==3.4.4.19
Werkzeug==1.0.1
gunicorn==20.0.4
pandas==1.1.4
matplotlib==3.3.3